html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

.footer{
    background: #bdd4eb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 24px;
    color: #7e848a;
}

.category  {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5%;
}
.categoryLi{
    list-style: none;
    display: flex;
    
}

.appCard {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    border: 1px solid #ddd; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
    text-align: center;
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.card-body {
    padding: 10px 15px;
}

.card-title {
    font-size: 18px;
    color: #333;
    margin: 10px 0 5px;
}

.card-text {
    font-size: 14px;
    color: #555;
}
.container{
    max-width: 100%;
}
.input{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.off-screen-menu{
    display: none;
}

@media (max-width: 575.98px) { 
   

    .header{
        display: none;
    }
    .wrap{
        display: flex;
        flex-direction: column;
    }
    .wrapText{
        width: 100%;
        text-align: center;
    }
    .intro{
        text-align: center;
    }
    .capacity{
        left: 0;
    }
    .age h1{
        left: 0;
    }
    .developer h1{
        left: 0;
    }
    .addComment{
        text-align: center;
        margin: 0;
    }
    
    .off-screen-menu{
        background: #e0eefc;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 6000;
    }
    .off-screen-menu a{
        text-decoration: none;
     }
    .off-screen-menu ul{
       padding-left: 0;
    }
    .off-screen-menu.active{
        right: 0;
    }
    .top{
        padding: 1rem;
        display: flex;
        background: #e0eefc;
    }
    .ham-menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    .ham-menu span{
        height: 5px;
        width: 100%;
        background-color: #6F86FF;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1){
        top: 25%;
        z-index: 6000;
    }
    .ham-menu span:nth-child(3){
        top: 75%;
        z-index: 6000;
    }


    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        
    }
    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }



}
@media (max-width: 767.98px) { 
   
    .header{
        display: none;
    }
  
    .off-screen-menu{
        background: #e0eefc;
        height: 100vh;
        width: 100%;
        max-width: none;
        position: fixed;
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 6000;
    }
    .off-screen-menu a{
        text-decoration: none;
     }
    .off-screen-menu ul{
       padding-left: 0;
    }
    .off-screen-menu.active{
        right: 0;
        width: 100%;
    }
    .top{
        padding: 1rem;
        display: flex;
        background: #e0eefc;
    }
    .ham-menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    .ham-menu span{
        height: 5px;
        width: 100%;
        background-color: #6F86FF;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1){
        top: 25%;
        z-index: 6000;
    }
    .ham-menu span:nth-child(3){
        top: 75%;
        z-index: 6000;
    }


    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        
    }
    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }


  
}