

.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 6px 4px #ece8e8;
    border-radius: 10px;
    position: relative;
    z-index: 6000;
}
.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px; /*li之間的間隔*/
    padding: 0;
    margin: 0;
}
.menu a {
    text-decoration: none;
    color: #8daafa;  
    font-weight: bold;
}
/*以上為header的部分*/
/*container*/
.container{
    margin-top: 5%;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title img{
    width: 40%;
    height: 40%;
}
.intro{
    width: 50%;
}
.intro h1{
    color: #8daafa;
    font-size: 36px;
    font-weight: bold;
}
.intro h2{
    color: #b1b7c6;
    font-size: 16px;
}
.card1{
    text-align: center;
    margin-top: 5%;
}
.findApp{
    clip-path: polygon(0 19%, 99% 0, 100% 79%, 0 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background: #e0eefc;
}
.findApp img{
    height: 360px;
    width: 360px;
}
.findAppText{
    margin-left: 5%;
    color:#8daafa;
    font-size: 24px;
    font-weight: bold;
}
.findAppText img{
    width: 40%;
    height: 60px;
    margin-top: 5%;
}
.featurApp{
    text-align: center;
    color:#8daafa;
    font-size: 36px;
    font-weight: bold;
  
}
.featurApp h1{
    margin-bottom: 5%;
}
.featuredAppCard ul{
    display: flex;
    justify-content: center;
   
}
.featuredAppCard ul li{
    list-style: none;
}


.wish{
    clip-path: polygon(0 0, 100% 24%, 100% 100%, 0% 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    background: #e0eefc;
}
.wishman{
    margin-top:5%;
    width: 360px;
}
.wishText{
    color:#8daafa;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}
/*以上為container*/

.footer{
    background: #bdd4eb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 24px;
}
.off-screen-menu{
    display: none;
}


@media (max-width: 575.98px) { 
   
    .header{
        display: none;
    }
    .title{
        display: flex;
        flex-direction: column;
    }
    .intro{
        width: 80%;
        text-align: center;
    }
    .title img{
        width: 100%;
        height: 100%;
    }
    .off-screen-menu{
        background: #e0eefc;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
    }
    .off-screen-menu a{
        text-decoration: none;
     }
    .off-screen-menu ul{
       padding-left: 0;
    }
    .off-screen-menu.active{
        right: 0;
    }
    .top{
        padding: 1rem;
        display: flex;
        background: #e0eefc;
    }
    .ham-menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    .ham-menu span{
        height: 5px;
        width: 100%;
        background-color: #6F86FF;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1){
        top: 25%;
       
    }
    .ham-menu span:nth-child(3){
        top: 75%;
       
    }


    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        
    }
    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }


    .featuredAppCard ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -5%;
    }
    .wish{
        padding-top: 40%;
        padding-bottom: 20%;
        display: flex;
        flex-direction: column;
    }
    .findApp{
        display: flex;
        flex-direction: column;
        height: 120vh;
    }
    .wishman{
        width: 50%;
        height: 50%;
    }
    .card1 img{
        width: 100%;
    }
}
@media (max-width: 767.98px) { 
   
    .header{
        display: none;
    }
    .title{
        display: flex;
        flex-direction: column;
    }
    .intro{
        width: 80%;
        text-align: center;
    }
    .title img{
        width: 100%;
        height: 100%;
    }
    .off-screen-menu{
        background: #e0eefc;
        height: 100vh;
        width: 100%;
        max-width: none;
        position: fixed;
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
    }
    .off-screen-menu a{
        text-decoration: none;
     }
    .off-screen-menu ul{
       padding-left: 0;
    }
    .off-screen-menu.active{
        right: 0;
        width: 100%;
    }
    .top{
        padding: 1rem;
        display: flex;
        background: #e0eefc;
    }
    .ham-menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    .ham-menu span{
        height: 5px;
        width: 100%;
        background-color: #6F86FF;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1){
        top: 25%;
       
    }
    .ham-menu span:nth-child(3){
        top: 75%;
       
    }


    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        
    }
    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }


    .featuredAppCard ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -5%;
    }
    .wish{
        padding-top: 40%;
        padding-bottom: 20%;
        display: flex;
        flex-direction: column;
    }
    .findApp{
        display: flex;
        flex-direction: column;
        height: 120vh;
    }
    .wishman{
        width: 50%;
        height: 50%;
    }
    .card1 img{
        width: 100%;
    }
}