.footer{
    background: #bdd4eb;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 24px;
    color: #7e848a;
}
.line{
    display: flex;
    margin-left: 20%;
    width: 60%;
    height: 1px;
    background: #bab1b1;
}
.wrap{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}
.wrapText{
    width:520px;
    margin-left: 2%;
    
}
.wrapImg h1{
    font-size: 20px;
    text-align: center;
}
.wrap img{
    width: 320px;
    border-radius: 15px;
}
.wrapText h1{
    color: #6383a4;
    font-weight: bold;
}
.wrapText h2{
    font-size: 20px;
    line-height: 24px;
    color: #a4a8ab;
    
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}
.dfSa{
    display: flex;
   justify-content: space-around;
}
.information{
    text-align: center;
    color: #6383a4;
    font-weight: bold;
}
.capacity{
    display: flex;
   justify-content: space-around;
   color: #7e848a;
}

.age{
    margin-left: 2%;
    font-size: 24px;
    color: #7e848a;
}
.developer{
    margin-left: 2%;
    font-size: 24px;
    color: #7e848a;
}
.addComment{
    text-align: right;
    margin-right: 210px;
   
}
.commentTitle{
    display: flex;
    justify-content: center;
}
.comment{
    margin-top: 5%;
    margin-bottom: 10%;
}
.comment h1{
    text-align: center;
    color: #6383a4;
    font-weight: bold;
}
.commentText{
    margin-left: 20%;
}







.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


.content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}


#commentInput {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}
.commentText h2{
    font-size: 36px;
    color: #6383a4;
    font-weight: bold;
}
.commentText h3{
    font-size: 20px;
    margin-left: 4%;
}
.lineComment{
    display: flex;
    width: 75%;
    height: 1px;
    background: #bab1b1;
}

.off-screen-menu{
    display: none;
}

@media (max-width: 575.98px) { 
   
    .header{
        display: none;
    }
    .wrap{
        display: flex;
        flex-direction: column;
    }
    .wrapText{
        width: 100%;
        text-align: center;
    }
    .intro{
        text-align: center;
    }
    .capacity{
        left: 0;
    }
    .age h1{
        left: 0;
    }
    .developer h1{
        left: 0;
    }
    .addComment{
        text-align: center;
        margin: 0;
    }
    
    .off-screen-menu{
        background: #e0eefc;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 6000;
    }
    .off-screen-menu a{
        text-decoration: none;
     }
    .off-screen-menu ul{
       padding-left: 0;
    }
    .off-screen-menu.active{
        right: 0;
    }
    .top{
        padding: 1rem;
        display: flex;
        background: #e0eefc;
    }
    .ham-menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    .ham-menu span{
        height: 5px;
        width: 100%;
        background-color: #6F86FF;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1){
        top: 25%;
        z-index: 6000;
    }
    .ham-menu span:nth-child(3){
        top: 75%;
        z-index: 6000;
    }


    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        
    }
    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }



}
@media (max-width: 767.98px) { 
   
    .header{
        display: none;
    }
  
    .off-screen-menu{
        background: #e0eefc;
        height: 100vh;
        width: 100%;
        max-width: none;
        position: fixed;
        top: 0;
        right: -100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 6000;
    }
    .off-screen-menu a{
        text-decoration: none;
     }
    .off-screen-menu ul{
       padding-left: 0;
    }
    .off-screen-menu.active{
        right: 0;
        width: 100%;
    }
    .top{
        padding: 1rem;
        display: flex;
        background: #e0eefc;
    }
    .ham-menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        position: relative;
    }
    .ham-menu span{
        height: 5px;
        width: 100%;
        background-color: #6F86FF;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: .3s ease;
    }
    .ham-menu span:nth-child(1){
        top: 25%;
        z-index: 6000;
    }
    .ham-menu span:nth-child(3){
        top: 75%;
        z-index: 6000;
    }


    .ham-menu.active span:nth-child(1){
        top: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
        
    }
    .ham-menu.active span:nth-child(2){
        opacity: 0;
    }
    .ham-menu.active span:nth-child(3){
        top: 50%;
        transform: translate(-50%,-50%) rotate(-45deg);
    }


  
}